<h1>Welcome</h1>

<p>We are currently working on your account.</p>
<p>Your Balance is: $<%= @user.balance %></p>

<p><a href="/deposit">Desposit</a></p>
<p><a href="/withdraw">Withdraw</a></p>

<p><a href="/logout">Log Out</a></p>
