<h1>Welcome <%= @user.username %></h1>

We are currently working on your account.

<h2>Current Balance: $<%= @user.balance.to_f.round(2) %></h2>

<h4>What would you like todo?</h4>

<a href="/withdraw">Withdraw</a>

<br />

<a href="/deposit">Deposit</a>

<br /><br /><br />


<p><a href="/logout">Log Out</a></p>
